<section class="staff">
  <h2>Delete Staff</h2>
  <form method="POST" action="/staff/{{staff.id}}?_method=DELETE">
    <input class="delete" type="submit" value="Delete {{staff.first_name}}?">
  </form>
</section>
